// Fonts


// Variables
@import 'variables';
@import 'icons';

@import '~reset-css/sass/reset';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Components
@import 'components/sidebar';
@import 'components/bottombar';



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 10px;
  color: $white;

  .checklabel {
    small {
      display: inline-flex!important;
    }
  }

  .content {
    padding-top: 80px;
    padding-left: 180px;
    color: $darkblue;
    font-size: 16px;

    @media only screen and (max-width: 600px) {
      padding-left: 0;
    }
  }

  footer {
    padding-top: 20px;
    a {
      font-size: 12px;
      display: inline-block;
      color: $white;
    }

    .sponsors {
      small {
        font-size: 13px;
        padding: 5px;
      }
      padding-top: 40px;
    }
  }

  .list {
    list-style: circle;
    margin-left: 1rem;
  }

  // .grecaptcha-badge {
  //   bottom: 95px!important;
  //   height: 40px!important;
  // }
}
