// Fonts


// Variables
@import 'variables';
@import 'icons';

@import '~reset-css/sass/reset';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Components
@import 'components/sidebar';
@import 'components/bottombar';



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 10px;
  color: $white;

  .checklabel {
    small {
      display: inline-flex!important;
    }
  }
}
