.bottombar {
  height: 100px;
  background: $darkblue;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;

  &.active {
    left: -100%
  }
  .btn-handup {
    background: $yellow;
    transition: background .25s ease-in;

    @media only screen and (max-width: 600px) {

    }

    &:hover {
      color: $darkblue;
      background: $white;
    }
  }

  &-logo {
    margin: 0 auto;
    img {
      max-width: 100%;
      width: 80px;
    }
  }
  &-volunteers {
    &-count {
      font-size: 2em;
      small {
        font-size: 14px;
        display: block;
        color: $light-gray;
      }
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    color: $white;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
  }

  &--secondary {
    transition: left .2s linear;
    background: lighten($darkblue, 5%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    h3 {
      font-size: 20px
    }

    h4 {
      font-size: 18px
    }

    &.active {
      left: 0;
    }

    &__body {
      padding-top: 20px;
    }
  }
}
