.sidebar {
  height: 100%;
  background: $darkblue;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 180px;

  @media only screen and (max-width: 600px) {
    width: 80px;
  }

  .btn-handup {
    background: $yellow;
    margin-top: 20px;
    transition: background .25s ease-in;

    @media only screen and (max-width: 600px) {

    }

    &:hover {
      color: $darkblue;
      background: $white;
    }
  }

  &-active {
    .map {
      left: 560px;
      @media only screen and (max-width: 600px) {
        left: 0;
      }
    }
  }

  &-logo {
    margin: 0 auto;
    img {
      max-width: 80%;
      width: 80%;
      padding-top: 20px;
    }
  }
  &-volunteers {
    &-count {
      font-size: 2em;
      padding-top: 20px;
      small {
        font-size: 15px;
        display: block;
        color: $light-gray;
      }
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    color: $white;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
  }

  &--secondary {
    transition: left .2s linear;
    background: lighten($darkblue, 5%);
    position: fixed;
    z-index: 1;
    top: 0;
    left: -380px;
    width: 380px;
    height: 100%;
    overflow-y: scroll;

    .check_truth {
      small {
        font-size: 13px!important;
        line-height: 18px;
      }
    }

    h3 {
      font-size: 20px
    }

    h4 {
      font-size: 18px
    }

    &.active {
      left: 180px;
    }

    &__body {
      padding-top: 20px;
    }
  }
}
